<!DOCTYPE html>

<head>
    <title><%= title %> Leading Causes of Death</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>



<body class="container">
    <div class="header" id="top" style="padding-top: 100px; padding-bottom: 100px; max-width: 100%">
        <h1 align="center"><b>New York Leading Causes of Death By Race/Gender</b></h1>
    </div>

    <div>
            <div class="btn-group btn-group-justified">
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/white" class="btn btn-primary">White</a>
            <a href="/asian" class="btn btn-primary">Asian</a>
            <a href="/black" class="btn btn-primary">Black</a>
            <a href="/hispanic" class="btn btn-primary">Hispanic</a>
            <a href="/other" class="btn btn-primary">Other</a>
            <a href="/unknown" class="btn btn-primary">Unknown</a>
            </div>
    </div>

  <br>
  <h1 align = "center">
    <%= title %> Leading Causes of Death
  </h1>
  
  <br>
  <br>
  <table  align = "center" class="table-hover" position="absolute" border="2px solid black" style="width=100%; max-width: 100%; table-layout: fixed;" >

    <%
        for(var i=0; i < columnArray.length; i++) {
            %>
            <th style="text-align:center; padding:10px; background-color:#b3ff99" data-sortable="true"><%= columnArray[i] %></th>
    <% } %> 
    %>

    <!--sortBy(jsonData, item => [item[8], item[10], item[12]]);-->

    <% 
        var sorted = jsonData.sort(
            function(a, b) {
                if (a[8] < b[8]) return -1;
                if (a[8] > b[8]) return 1;
                if (a[10] > b[10]) return -1;
                if (a[10] < b[10]) return 1;
                if(a[12] !=".") {
                    if (Number(a[12]) < Number(b[12])) return 1;
                    if (Number(a[12]) > Number(b[12])) return -1;
                    if (Number(a[13]) < Number(b[13])) return 1;
                    if (Number(a[13]) > Number(b[13])) return -1;
                    if (Number(a[14]) < Number(b[14])) return 1;
                    if (Number(a[14]) > Number(b[14])) return -1;             
                }
                return 0;
            });

        for(var i=0; i < sorted.length; i++) {

        if(sorted[i][11]==filterLabel)
        {
            var totalDeath;
            var deathRate;
            var deathRateNormalizeAge;

            //TODO:  Convert to resusable function.

            if(sorted[i][12]==".")
                totalDeath="No Data Found";
            else
                totalDeath=sorted[i][12];

            if(sorted[i][13]==".")
                deathRate="No Data Found";
            else
                deathRate=sorted[i][13];

            if(sorted[i][14]==".")
                deathRateNormalizeAge="No Data Found";
            else
                deathRateNormalizeAge=sorted[i][14];

            %>
            <tr>
                <td style="text-align:center; padding:10px"><%= sorted[i][8] %></td>
                <td style="text-align:center; padding:10px"><%= sorted[i][9] %></td>
                <td style="text-align:center; padding:10px"><%= sorted[i][10] %></td>
                <td style="text-align:center; padding:10px"><%= totalDeath %></td>
                <td style="text-align:center; padding:10px"><%= deathRate %></td>
                <td style="text-align:center; padding:10px"><%= deathRateNormalizeAge %></td>
            </tr>
    <% }} %> 

</table>

<br><br>
<div>
    <a href="#top"><button type="button" class="btn btn-primary btn-block">Back To Top</button></a>
</div>
<br><br>

</body>